.container {
	margin: 0 auto;
	width: 90%;
	max-width: 1024px;
}
.flex-container {
	@extend .container;
	display: flex;
	flex-wrap: wrap;
}
.section-heading {
	width: 100%;
	text-align: center;
	h1 {
		font-size: 3rem;
	}
}