<div class="hero" style="background-image: url( {{ section.settings.hero-image | img_url: 'master' }} )" >
	<div class="hero__content">
		<h1>{{ section.settings.hero-text }}</h1>
	</div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "id": "hero-text",
        "type": "text",
        "label": "Place for Your heading"
      },
      {
        "id": "hero-image",
        "type": "image_picker",
        "label": "Add Your cover image for greeting the customer"
      }
    ]
    }
{% endschema %}